/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ccafc6;
  color: #2c3b62;
}

header {
  margin: 0 auto;
  max-width: 1100px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

main {
  margin: 0 auto;
  max-width: 1100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  /* border-bottom: 1px solid #2c3b62; */
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-weight: normal;
}

/* NAVIGATION */
.header-container {
  margin: 1.5rem 0;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.menu-links {
  display: flex;
  justify-content: space-around;
  width: 20rem;
  margin: 0;
  padding: 0;
}

.logo {
  width: 10rem;
}

.social-media-links {
  display: flex;
  justify-content: space-around;
  width: 15rem;
}

.social-media-links > * {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

/* INTRO BLOCK */

.intro-block {
  font-family: "Amethysta";
  font-size: 1.5rem;
  border-bottom: 1px solid #2c3b62;
  padding-bottom: 60px;
}

.work-block {
  padding-top: 60px;
}

.work-block > h2 {
  font-family: "Roboto Mono", monospace;
  padding-bottom: 50px;
}

.project-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-blocks > div {
  border: 1px solid #2c3b62;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.blog-block {
  padding-top: 50px;
}

.blog-block > h2,
p {
  font-family: "Roboto Mono", monospace;
}

.blog-block > h2 {
  padding-bottom: 50px;
}

.blog-post-list > li {
  padding-bottom: 20px;
}

.blog-post-list > a {
  font-family: "Amethysta";
}

.under-links > h3 {
  text-decoration: underline;
  font-size: 24px;
  font-weight: normal;
}

/** MEDIA QUERIES **/

@media screen and (max-width: 1200px) {
  body {
    margin: 40px;
  }

  .intro-block {
    text-align: center;
  }

  .work-block div,
  h2 {
    display: flex;
    justify-content: center;
  }
}
